<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xcx.xestore.mapper.AttributeMapper">
	<resultMap type="com.xcx.xestore.common.pojo.Attribute" id="BasicResultMap">
		<id column="attribute_id" property="attributeId" jdbcType="VARCHAR" />
		<association property="goods" javaType="com.xcx.xestore.common.pojo.Goods">
			<id column="goods_id" property="goodsId" jdbcType="VARCHAR" />
			<result column="goods_name" property="goodsName" jdbcType="VARCHAR" />
		</association>
		
		<association property="sku" javaType="com.xcx.xestore.common.pojo.Sku">
			<id column="sku_id" property="skuId" jdbcType="VARCHAR" />
			<result column="sku_name" property="skuName" jdbcType="VARCHAR" />
			<result column="sku_versioname" property="skuVersionName" jdbcType="VARCHAR" />
			<result column="sku_attributes" property="skuAttributes" jdbcType="VARCHAR" />
			<result column="price" property="price" jdbcType="DOUBLE" />
			<result column="quantity" property="quantity" jdbcType="INTEGER" />
			<result column="unit" property="unit" jdbcType="VARCHAR" />
			<result column="stock" property="stock" jdbcType="BIGINT" />
			<result column="sales" property="sales" jdbcType="BIGINT" />
			<result column="isDefault" property="isDefault" jdbcType="INTEGER" />
		</association>
		<association property="attributeName" javaType="com.xcx.xestore.common.pojo.AttributeName">
			<id column="attribute_name_id" property="attributeNameId" jdbcType="VARCHAR" />
			<result column="attribute_name" property="attributeName" jdbcType="VARCHAR" />
			<!--<association property="category" javaType="com.xcx.xestore.common.pojo.Category">
				<id column="category_id" property="categoryId" jdbcType="VARCHAR" />
				<result column="category_name" property="categoryName" jdbcType="VARCHAR" />
			</association>-->
		</association>
		<association property="attributeValue" javaType="com.xcx.xestore.common.pojo.AttributeValue">
			<id column="attributeValueId" property="attributeValueId" jdbcType="VARCHAR" />
			<!--<result column="attributeName" property="attributeName" jdbcType="VARCHAR" />-->
			<result column="attributeValue" property="attributeValue" jdbcType="VARCHAR" />
			
		</association>

	</resultMap>

	<select id="selectAttributeListBySkuId" parameterType="java.lang.String" resultMap="BasicResultMap">
	
		select 
		a.attribute_id,
		an.attribute_name_id,an.attribute_name
		
		
		from attribute_tb a
   LEFT JOIN attributename_tb an on a.attribute_name_id = an.attribute_name_id
   LEFT JOIN attributevalue_tb av on a.attribute_value_id = av.attribute_value_id
	 LEFT JOIN category_tb c on an.category_id = c.category_id
where a.sku_id = #{skuId}

	</select>

	

</mapper>